.first{
    /* display: flex; */
    /* border: 2px solid blue; */
    
}
body{
    font-size: 4rem;
   
}
.modal_container{
 display: flex; 
 /* border: 2px solid red;   */
 font-size: 2rem;
 display: none;

}
.second i{
    color: blue;
}
